
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterView_Layout.cshtml";
}


<h2>Index</h2>
@*<h2>Message is : @ViewBag.Message</h2>*@

@Ajax.ActionLink("Show All users","GetAllUsers","User",new AjaxOptions
{
    HttpMethod ="GET",
    UpdateTargetId="result"
})

@Ajax.ActionLink("Add users", "AddUsers", "User", new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "result"
})

<div id="result">

