
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
        Error!!!
        <h2>Exception is: @Model.Exception.Message</h2>
        <h2>Action Name is: @Model.ActionName</h2>
    </div>
</body>
</html>
