@using WebApplication1.Models;
@model Artist
@{
    ViewBag.Title = "Artist";
    Layout = "~/Views/MasterView_Layout.cshtml";
}

<h2>Artist</h2>
<div>

    <h3 align="center">Artist</h3>
    <hr />

   @{

       <p>@Model.artistname</p>

    }
</div>
